.result_data {
    display: flex;
  justify-content: space-between;
  padding: 1em;
  box-sizing: border-box;
}

.result_deg,
.result_price {
    font-size: 22px;
    color: #3F3631;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
}

.result_deg {
    float: left;
}

.result_price {
    float: right;
}

.result_description {
    overflow: hidden;
    height: 60px;
    text-overflow: ellipsis;
}

.result_img {
    position: absolute;
    width: 88px;
    height: 310px;
    transform: translate(125px, -240px);
}
