.result_data {
    display: flex;
  justify-content: space-between;
  padding: 1em;
  box-sizing: border-box;
}

.result_deg,
.result_price {
    font-size: 22px;
    color: #3F3631;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
}

.result_deg {
    float: left;
}

.result_price {
    float: right;
}
